<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- WebViewUtil.spoofedPackageName looks these up, then falls back to any launchable app. -->
    <queries>
        <package android:name="com.android.chrome" />
        <package android:name="com.android.settings" />
        <package android:name="com.google.android.youtube.tv" />
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

</manifest>
